/*-------------------- Styles for the nav bar */
body {
  background-color: #01295f;
  color: white;
}

nav {
  height: 200px;
  background-image: url("./images/react-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

nav h1 {
  margin-top: 50px;
}

nav ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
  padding-inline-start: 0px;
}

nav li {
  display: inline;
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: #fd151b;
  text-shadow: 1px 1px darkred;
}

.active {
  color: white;
}

/* Media query for responsive nav bar */

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav h1 {
    margin: 0px;
    padding-left: 5%;
  }

  nav ul {
    padding: 0px 10% 0px 0px;
  }
}

/*------------------------------ Style for Home page */

.aboutHeader {
  text-align: center;
  margin-top: 30px;
}

.aboutText {
  text-align: center;
  margin: 10px 15px;
}

/* Media query for responsive margin on home page */

@media screen and (min-width: 768px) {
  .aboutText {
    margin: 10px 20%;
  }
}

/* ------------------Footer style */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.footer {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social_links {
  padding: 1rem;
  background: #383838;
  border-radius: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social_links .combo {
  transform: scale(0.9);
  transition: 0.4s ease-in;
  margin: 0 0.5rem;
  height: 3em;
  width: 3em;
  line-height: 3em;
}
.combo .circle {
  color: #f9f9f9;
  transition: 0.4s ease-in;
  font-size: 3em;
}
.combo .icon {
  color: #444343;
  font-size: 2rem;
  transform: translateY(1px);
  transition: 0.2s ease-in;
}
.combo:hover {
  transform: scale(1.1);
}
.combo:hover,
.combo:hover .icon {
  color: white;
}
.ig:hover,
.ig:hover .circle {
  color: #e91e63;
}
.fb:hover,
.fb:hover .circle {
  color: #2196f3;
}
.yt:hover,
.yt:hover .circle {
  color: #f44336;
}
.tw:hover,
.tw:hover .circle {
  color: #2196f3;
}
.gt:hover,
.gt:hover .circle {
  color: #1f1f1f;
}

/* ------------------------- Style for work page */
.figure {
  display: flex;
  flex-direction: column;
}

.figure h2 {
  font-size: 200%;
  border-bottom: solid var(--dark);
  margin: 20px;
  color: var(--dark);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container section img {
  border: solid var(--dark);
}

.container a {
  height: 100%;
}

.container section img {
  width: 100%;
}

/* image and caption adjustments */

img {
  position: inherit;
  height: 300px;
  object-position: center;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  flex: 0 0 90%;
  margin: 8px;
}

.img1:hover img {
  opacity: 1;
}

.img2:hover img {
  opacity: 1;
}

.img3:hover img {
  opacity: 1;
}

.img4:hover img {
  opacity: 1;
}

.img5:hover img {
  opacity: 1;
}

figcaption {
  position: relative;
}

.container h3 {
  position: absolute;
  bottom: -0%;
  left: 17%;
  margin-bottom: 10%;
  font-size: 150%;
  color: var(--dark);
  text-shadow: 1px 1px #01295f;
  padding: 8px;
}

@media screen and (min-width: 576px) {
  main img {
    display: none;
  }

  #main-img {
    height: 400px;
  }

  .img1 {
    flex: 0 0 91%;
  }

  .img2,
  .img3,
  .img4,
  .img5 {
    flex: 0 0 45%;
  }
}

@media screen and (min-width: 992px) {
  .figure {
    flex-direction: row;
    margin: 30px 0px;
  }

  .figure h2 {
    border-right: solid var(--dark);
    padding-left: 46px;
    padding-right: 9.5px;
    border-bottom: hidden;
    text-align: right;
  }
}

/* -------------------------------- Contact Form Style */

#emailForm {
  text-align: center;
  display: block;
}

.stacked {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: #437f97;
  margin: 20px 20%;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.stacked:hover {
  padding: 20px;
  background-color: white;
  color: #437f97;
}

input,
textarea {
  border-radius: 20px;
  background-color: darkslategray;
  flex-grow: 0.5;
  padding-left: 10px;
  color: white;
  font-size: 18px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

#mailLink {
  background-color: #437f97;
  margin-top: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#mailLink:hover {
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  color: #437f97;
}

@media screen and (min-width: 768px) {
  .stacked {
    font-size: 30px;
  }
}
/* -------------------------------- Resume Style */
.resumeTitle {
  margin-left: 39px;
}

.resumeList {
  list-style-type: none;
}
